{# Digitalthoreau/FileBundle/Resources/views/File/new.html.twig #}

{% extends 'DigitalthoreauFileBundle::layout.html.twig' %}

{% block body -%}
    <h1>File upload</h1>

    <form action="{{ path('file_createupload') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        {{ form_widget(form) }}
        <p>
            <button class="btn  margin-top" type="submit">Upload</button>
        </p>
    </form>

        <ul class="inline">
    <li>
        <a class="btn" href="{{ path('file') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
